@use '../abstracts' as *;

.btn {
    margin: 0;
    padding: var(--fs-200) var(--fs-400);
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    border-radius: var(--fs-100);
    cursor: pointer;
    vertical-align: middle;
    outline: none;
    border: 2px solid transparent;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    line-height: 1 !important;

    font: {
        family: var(--medium) !important;
        size: 1.8rem;
    }

    &:active {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
}

@each $color, $shade in $colors {
    @each $prop, $value in $shade {
        @if $value == white {
            .btn-#{$color}-#{$prop} {
                color: var(--clr-neutral-500);
                border-color: $value;
                background-color: $value;
                @include transition(all);

                &:hover, &:focus {
                    color: var(--clr-white-500);
                    background-color: var(--clr-primary-500);
                    border-color: var(--clr-primary-500);
                    @include transition(all);
                }
            }
        }@else if $color == neutral{
            .btn-#{$color}-#{$prop} {
                color: var(--clr-white-500);
                border-color: $value;
                background-color: $value;
                @include transition(all);

                &:hover, &:focus {
                    color: var(--clr-neutral-500);
                    border-color: var(--clr-white-500);
                    background-color: var(--clr-white-500);
                    @include transition(all);
                }
            }
        }@else {
            .btn-#{$color}-#{$prop} {
                color: var(--clr-white-500);
                border-color: $value;
                background-color: $value;
                @include transition(all);

                &:hover, &:focus {
                    border-color: darken($value, 10%);
                    background-color: darken($value, 10%);
                    @include transition(all);
                }
            }
        }
    }
}

@each $color, $shade in $colors{
    @each $prop, $value in $shade {
        @if $value == white {
            .btn-outline-#{$color}-#{$prop} {
                color: $value;
                border-color: $value;
                background: transparent;
                @include transition(all);

                &:hover, &:focus {
                    color: var(--clr-primary-500);
                    background: $value;
                    @include transition(all);
                }
            }
        }@else {
            .btn-outline-#{$color}-#{$prop} {
                color: $value;
                border-color: $value;
                background: transparent;
                @include transition(all);

                &:hover, &:focus {
                    color: var(--clr-white-500);
                    background: $value;
                    border-color: $value;
                    @include transition(all);
                }
            }
        }
    }
}
