$primary: #00BAF2;
$neutral: #0A083B;
$light-gray: #F8F8F8;
$gray: #858585;
$white: #fff;
$dark-blue: #0C2134;
$whatsapp: #25D366;

$colors: (
    "primary": (
        100: mix(white, $primary, 80%),
        200: mix(white, $primary, 60%),
        300: mix(white, $primary, 40%),
        400: mix(white, $primary, 20%),
        500: $primary,
        600: mix(black, $primary, 20%),
        700: mix(black, $primary, 40%),
        800: mix(black, $primary, 60%),
        900: mix(black, $primary, 80%),
    ),
    "neutral": (
        100: mix(white, $neutral, 80%),
        200: mix(white, $neutral, 60%),
        300: mix(white, $neutral, 40%),
        400: mix(white, $neutral, 20%),
        500: $neutral,
        600: mix(black, $neutral, 20%),
        700: mix(black, $neutral, 40%),
        800: mix(black, $neutral, 60%),
        900: mix(black, $neutral, 80%),
    ),
    "light-gray":(
        500: $light-gray
    ),
    "gray":(
        500: $gray
    ),
    "white":(
        500: $white
    ),
    "dark-blue":(
        500: $dark-blue
    ),
    "whatsapp":(
        500: $whatsapp
    )
);
