@use "../../abstracts" as *;

.care{
    &__header{
        margin: 0 auto;
        max-width: 73rem;

        h2{
            font-size: var(--fs-500);
        }
    }

    &__row{
        &__card{
            padding: var(--fs-500) var(--fs-300);
            &__header{
                h3{
                    font-size: var(--fs-300);
                }
            }
        }
    }
}